@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");

:root {
  --gray1: #333;
  --gray2: #4f4f4f;
  --gray3: #828282;
  --gray4: #bdbdbd;
  --gray5: #e0e0e0;
  --gray6: #f2f2f2;
  --red: #eb5757;
  --orange: #f2994a;
  --yellow: #f2c94c;
  --green1: #219653;
  --green2: #27ae60;
  --green3: #6fcf97;
  --blue1: #2f80ed;
  --blue2: #2d9cdb;
  --blue3: #56ccf2;
  --purple1: #9b51e0;
  --purple2: #bb6bd9;
  --section-horizontal-padding-1200: 12.2rem;
  --section-horizontal-padding-900: 6rem;
  --section-horizontal-padding-600: 4.8rem;
  --border-radius: 0.8rem;
  --box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
  --font: "Noto Sans KR", sans-serif;
  --main-color: #f1969d;
}
