.support {
  padding: 24px;
}

.support-address {
  margin-top: 120px;
  text-align: center;
}

.support-address h2 {
  margin-bottom: 24px;
}

.map {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.support-contact {
  margin-top: 160px;
  text-align: left;
}

.support-contact h2 {
  margin-bottom: 24px;
}

.support-form {
  padding: 60px;
}
