.home {
  padding: 24px;
}

.branding {
  align-items: flex-start;
  justify-content: left;
  justify-self: left;
  padding-top: 80px;
  padding-bottom: 80px;
}

.branding h2 {
  margin-bottom: 24px;
  color: var(--color-dark-text);
}

.branding h5 {
  margin-bottom: 24px;
  color: var(--color-gray-text);
  line-height: 2rem;
}

.main-text {
  margin-top: 48px;
}

.main-text h2 {
  margin-bottom: 24px;
  color: var(--color-dark-text);
}

.main-text h5 {
  margin-bottom: 24px;
  color: var(--color-gray-text);
  line-height: 2rem;
}
