.home {
  padding: 24px;
}

.branding {
  align-items: flex-start;
  justify-content: left;
  justify-self: left;
  padding-top: 80px;
  padding-bottom: 80px;
}

.branding h2 {
  margin-bottom: 24px;
  color: var(--color-dark-text);
}

.branding h5 {
  margin-bottom: 24px;
  color: var(--color-gray-text);
  line-height: 2rem;
}

.main-text {
  margin-top: 48px;
}

.main-text h2 {
  margin-bottom: 24px;
  color: var(--color-dark-text);
}

.main-text h5 {
  margin-bottom: 24px;
  color: var(--color-gray-text);
  line-height: 2rem;
}

.product-feature {
  margin-top: 80px;
  text-align: center;
}

.product-feature img {
  width: 50%;
  height: auto;
  margin: 0px auto;
  margin-bottom: 40px;
  box-shadow: var(--box-shadow);
}

.product-feature h2 {
  margin-bottom: 24px;
  color: var(--color-dark-text);
  text-align: center;
}

.product-feature h5 {
  margin-bottom: 24px;
  color: var(--color-gray-text);
  line-height: 2rem;
  text-align: center;
}

.product-feature__padding {
  padding: 120px 40px 0 40px;
}

.pr-video {
  margin-top: 160px;
}
