.about {
  padding: 24px;
}

.about-branding {
  margin-top: 120px;
  display: flex;
  align-items: center;
  justify-content: left;
}

.about-branding h2 {
  margin-bottom: 24px;
  color: var(--color-dark-text);
}

.about-branding h5 {
  margin-bottom: 24px;
  color: var(--color-gray-text);
  line-height: 2rem;
}

.member-info {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.member-info h4 {
  text-align: left;
  margin-top: 24px;
  margin-bottom: 8px;
}

.member-info h5 {
  margin-bottom: 8px;
  text-align: center;
}

.member-info p {
  font-size: 1rem;
  text-align: center;
  color: var(--color-gray-text);
}

/*----------*/
/*----------*/
/*----------*/
/* Timeline */
.timeline-outer {
  width: 90%;
  margin: 0 auto;
}

.timeline {
  border-left: 8px solid var(--color-dark);
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  color: var(--color-dark-text);
  margin: 50px auto;
  letter-spacing: 0.5px;
  position: relative;
  line-height: 1.4em;
  padding: 20px;
  list-style: none;
  text-align: left;
}

.timeline .event {
  border-bottom: 1px solid rgba(160, 160, 160, 0.2);
  padding-bottom: 15px;
  margin-bottom: 20px;
  position: relative;
}

.timeline .event:last-of-type {
  padding-bottom: 0;
  margin-bottom: 0;
  border: none;
}

.timeline .event:before,
.timeline .event:after {
  position: absolute;
  display: block;
  top: 0;
}

.timeline .event:before {
  left: -160px;
  color: var(--color-dark-text);
  content: attr(data-date);
  text-align: right;
  font-size: 16px;
  min-width: 120px;
}

.timeline .event:after {
  box-shadow: 0 0 0 8px var(--color-dark);
  left: -30px;
  background: var(--color-dark);
  border-radius: 50%;
  height: 11px;
  width: 11px;
  content: "";
  top: 5px;
}

.timeline .event p {
  margin-top: 1rem;
}

.timeline .event h5 {
  margin-top: 2rem;
  line-height: 2rem;
}
