.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 6rem;
}

.contact__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fff;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  width: 100%;
  padding: 4rem;
  margin-bottom: 8rem;
  border-top: 0.5rem solid var(--gray2);
  animation: bounce 1.5s infinite;
}

.contact__form:hover {
  animation: none;
}

.contact__form__title {
  margin-bottom: 1rem;
}

.contact__form__sub {
  margin-bottom: 8rem;
  font-weight: 300;
  color: var(--gray2);
}

.contact__form__email {
  font-size: 2rem;
  letter-spacing: 0px;
  line-height: 2;
  font-family: var(--font);
  padding: 2rem;
  width: 70%;
  margin-bottom: 6rem;
  border: none;
  background-color: #fff;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}

.contact__form__email:hover,
.contact__form__email:focus {
  border-bottom: 0.5rem solid var(--gray2);
  font-size: 3rem;
  width: 90%;
  transition: ease 0.5s;
}

.contact__form__message {
  font-size: 2rem;
  letter-spacing: 0px;
  line-height: 2;
  font-family: var(--font);
  padding: 2rem;
  width: 70%;
  margin-bottom: 8rem;
  border: none;
  background-color: #fff;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  overflow: hidden;
}

.contact__form__message:hover,
.contact__form__message:focus {
  border-bottom: 0.5rem solid var(--gray2);
  font-size: 3rem;
  width: 90%;
  transition: ease 0.5s;
}

.contact__form__send {
  width: 40%;
  color: #fff;
  background-color: var(--gray2);
  font-size: 2rem;
  font-family: var(--font);
  padding: 2rem;
  margin-bottom: 4rem;
  border: none;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  transition: ease 0.5s;
}

.contact__form__send:hover {
  transform: translateY(-1rem);
  width: 50%;
}

@keyframes bounce {
  0% {
    tranform: translate(0, 0.4rem);
  }
  50% {
    transform: translate(0, 0.8rem);
  }
}

@media (max-width: 900px) {
  .contact {
    padding: 6rem var(--section-horizontal-padding-900);
  }
  .contact__form {
    width: 100%;
    padding: 2rem;
  }
}

@media (max-width: 600px) {
  .contact {
    padding: 6rem var(--section-horizontal-padding-600);
  }
  .contact__form__title h1 {
    font-size: 4rem;
  }
  .contact__form__email {
    font-size: 1.2rem;
  }
  .contact__form__message {
    font-size: 1.2rem;
  }
  .contact__form__email:hover,
  .contact__form__email:focus {
    border-bottom: 0.5rem solid var(--gray2);
    width: 90%;
    transition: ease 0.5s;
    font-size: 1.2rem;
  }
  .contact__form__message:hover,
  .contact__form__message:focus {
    border-bottom: 0.5rem solid var(--gray2);
    width: 90%;
    transition: ease 0.5s;
    font-size: 1.2rem;
  }
}
