.map {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.map__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
  margin-bottom: 10rem;
}

.map__header h1 {
  margin-bottom: 4rem;
}

.map__responsive {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 10rem;
}
