.member__top {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0rem 6rem 12rem;
}

.member {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.member--30 {
  width: 30%;
}

.member img {
  width: 80%;
  height: auto;
  margin-bottom: 4rem;
}

.member__text__row {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 1rem;
}

.member__text__career {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 1rem;
}

.member__text__career p {
  font-size: 1.2em;
}
