.member__top {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0rem 6rem 12rem;
}

.member__top__left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}

.member__top__right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}

.member__top__right h3 {
  font-size: 3.5em;
  color: var(--gray1);
  text-align: center;
  font-weight: 700;
}

.member__top__left__text__row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.member__top__left__text__row h3 {
  font-size: 3.5em;
  color: var(--gray1);
  text-align: center;
  font-weight: 700;
}

.member__top__left__text__row h4 {
  font-size: 3em;
  color: var(--gray1);
  text-align: center;
  font-weight: 700;
}

.member__top__left__text__column {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 20rem;
  margin-top: 1rem;
}

.member__top__left__text__column p {
  font-size: 2em;
}

.member {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.member--30 {
  width: 30%;
}

.member img {
  width: 80%;
  height: auto;
  margin-bottom: 4rem;
}

.member__text__row {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 1rem;
}

.member__text__career {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 1rem;
}

.member__text__career p {
  font-size: 1.2em;
}
