.section-dark {
  background-color: #f5f8fa;
  padding: 10rem 0 10rem 0;
}

.section-light {
  padding: 10rem 0 10rem 0;
}

.section__top {
  width: 40%;
  padding: 0rem 6rem 12rem;
}

.section__top--100 {
  width: 100%;
}

.section__top h1 {
  margin-bottom: 1.5rem;
  font-size: 3.2rem;
  color: var(--gray1);
  font-weight: 500;
}

.section__top p {
  margin-bottom: 1.5rem;
  font-size: 1.6em;
  color: var(--gray3);
}

.section__top--color {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  color: var(--main-color);
}

.section__top--color h6 {
  margin-bottom: 1.5rem;
  font-size: 1.6em;
  color: var(--main-color);
}

.section__grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 28rem);
  justify-content: space-between;
  align-items: center;
  padding: 0rem 6rem;
}

.section__grid--4 {
  display: grid;
  grid-template-columns: repeat(auto-fill, 24rem);
  justify-content: space-between;
  align-items: center;
  padding: 0rem 6rem;
}

.section__grid__card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 4rem;
}

.section__grid__card img {
  width: 50%;
  height: auto;
  margin-bottom: 4rem;
  background-color: transparent;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}

.section__grid__card img:hover {
  transform: scale(1.1);
  transition-duration: 1s;
}

.section__grid__card-image img {
  width: 100%;
  height: auto;
  margin-bottom: 4rem;
  background-color: #fff;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}

.section__grid__card-image img:hover {
  transform: scale(1.1);
  transition-duration: 1s;
}

.section__grid__card h2 {
  margin-bottom: 1.5rem;
  font-size: 2.2rem;
  color: var(--gray1);
}

.section__grid__card p {
  margin-bottom: 1.5rem;
  font-size: 1.6em;
  color: var(--gray3);
  text-align: center;
}

.section__overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #f5f8fa;
  margin-bottom: 20rem;
}

.section__video {
  position: relative;
  width: 60%;
  bottom: -10rem;
  box-shadow: var(--box-shadow);
}
