:root {
  --color-primary: #ffb4b4;
  --color-secondary: #ffdcdc;
  --color-dark: #ff9292;
  --color-light: #ffe8e8;
  --color-dark-text: #464a4e;
  --color-gray-text: #828282;
  --color-light-text: #fff;
}
